<div class="year" *ngFor="let eventYear of GetResult(); let itemIndex = index">
  <div id="control">

    <div class="year-header">
      <span>
        {{ eventYear.year }}年
      </span>
    </div>
    <div class="event">
<!--      <span>Undated Year Events</span>-->
      <div *ngFor="let undatedYearEvent of eventYear.yearEventsWithoutMonthDay">

          {{undatedYearEvent.event.eventContent}}

      </div>
    </div>



    <div class="month" *ngFor="let eventMonth of eventYear.monthEvents; let monthIndex = index">
      <div class="month-header">
        <span>
      {{eventMonth.month}}月
          </span>
      </div>
      <div class="event">
<!--        <span>Undated Month Events</span>-->
        <div *ngFor="let undatedMonthEvent of eventMonth.monthEventsWithoutDay">
          {{undatedMonthEvent.event.eventContent}}
        </div>
      </div>


      <div class="day" *ngFor="let eventDay of eventMonth.dayEvents; let dayIndex = index">
        <div class="day-header">
          <span>
            {{eventDay.day}}日
          </span>
        </div>
        <div class="event">
          <div *ngFor="let dayEvent of eventDay.dayEvents">
            {{dayEvent.event.eventContent}}
          </div>
      </div>



  </div>

</div>


